@model IEnumerable<DatabaseAccess.TblSession>

@{
    ViewBag.Title = "View All Sessions List";
}

<h4>@ViewBag.Title</h4>
<hr />

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">All Session Information</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Session Name
                        </th>
                        <th>
                            Start Date
                        </th>
                        <th>
                            End Date
                        </th>
                        <th>
                            User Name
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SessionName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SessionStartDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SessionEndDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TblUser.UserName)
                            </td>
                            <td class="btn-group">
                                @Html.ActionLink("Edit", "Edit", new { id = item.SessionId }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Details", "Details", new { id = item.SessionId }, new { @class = "btn btn-info" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.SessionId }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }

                </tbody>

            </table>
        </div>
    </div>
</div>
