@model DatabaseAccess.TblProgrammeSession

@{
    ViewBag.Title = "Programme Session Delete";
}

<h4>@ViewBag.Title</h4>
<hr />

<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            Session :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblSession.SessionName)
        </dd>

        <dt>
            Programme :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblProgramme.ProgrammeName)
        </dd>

        <dt>
            Details :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgrammeSessionDetails)
        </dd>

        <dt>
            Registration Date :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgrammeSessionRegistrationDate)
        </dd>

        <dt>
            Description :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgrammeSessionDescription)
        </dd>

        <dt>
            User Name :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblUser.UserName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
