@model IEnumerable<DatabaseAccess.TblProgrammeSession>

@{
    ViewBag.Title = "View All Programme Session List";
}

<h4>@ViewBag.Title</h4>
<hr />

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">All Programme Session Information</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Session
                        </th>
                        <th>
                            Programme
                        </th>
                        <th>
                            Details
                        </th>
                        <th>
                            Registration Date
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            User Name
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TblSession.SessionName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TblProgramme.ProgrammeName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProgrammeSessionDetails)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProgrammeSessionRegistrationDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProgrammeSessionDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TblUser.UserFullName)
                            </td>
                            <td class="btn-group">
                                @Html.ActionLink("Edit", "Edit", new { id = item.ProgrammeSessionId }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Details", "Details", new { id = item.ProgrammeSessionId }, new { @class = "btn btn-info" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.ProgrammeSessionId }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }

                </tbody>

            </table>
        </div>
    </div>
</div>